@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300";

* {
    margin: 0;
    padding: 0;
}

body {
    height: calc(100vh - 20px);
    padding: 10px;   
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.pagina-login, .pagina-nova-tarefa, .pagina-minhas-tarefas {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: 0 auto;
}

form {
    width: 100%;
    font-family: "Poppins";
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    box-sizing: border-box;
}

form input {
    width: 100%;
    background-color: #dddddd;
    padding: 8px;
    border: 0;
    border-radius: 7px;
    box-sizing: border-box;
}

form input:focus {
    background-color: #cfcfcf;
    border: 0;
}

input[type="submit"] {
    background-color: #CF388C;
    color: #fff;
    font-size: 18px;
    transition: 200ms;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    background-color: #a72d70;
    cursor: pointer;
}

form p {
    font-size: 0.8em;
}

form a, a.autoria {
    text-decoration: none;
    color: #4861CA;
}

form#form-cadastro {
    display: none;
}

@media screen and (max-width:350px) {
    .pagina-login, .pagina-nova-tarefa, .pagina-minhas-tarefas {
        width: 200px;
    }
}
